
.container{padding: 0 0 70px;}
.bg_join{height: 140px; background: url('/gth/img/community/bg_join.jpg') no-repeat center center; background-size: cover; text-align: center;}
.bg_join h2{font-size: 40px; padding-top: 28px; font-weight: 900;}
.bg_join h2 span{color: #833996;}
.bg_join p{font-size: 16px; font-weight: bold; color: #837883;}

.tab_menu_category{margin: 24px 0 0;}
.tab_menu_category li{position: relative; float: left; width: 25%; box-sizing: border-box; border: 1px solid rgba(0,0,0,0.5); border-left: none; height: 60px; line-height: 58px; background: rgba(0,0,0,0.03); text-align: center;}
.tab_menu_category .way{position: relative; float: left; width: 100%; box-sizing: border-box; border: 1px solid #e6e0e7; border-left: none; height: 60px; line-height: 58px; background: #f7f5f8; text-align: center;}
.tab_menu_category li a{display: block; width: 100%; font-size: 16px; color: #333; line-height: 58px;}
.tab_menu_category li.active{background: #000;}
.tab_menu_category li.active a{color: #fff; border-color: #000;}
.tab_menu_category li.active:after{position: absolute; bottom: -25px; left: 50%; margin-left: -15px; content: ''; width: 30px; height: 30px; border: 15px solid transparent; border-top-color: #000; box-sizing: border-box;}
.tab_menu_category li:nth-child(1){border-left: 1px solid #000; border-radius: 3px 0 0 3px;}
.tab_menu_category li:nth-child(4){border-radius: 0 3px 3px 0;}

/* 포토갤러리 */
.list_align{margin: 34px 0 0;}
.list_align li{float: left; cursor: pointer; width: 100px; height: 40px; line-height: 38px; text-align: center; font-size: 14px; border: 1px solid #e6e0e7;}
.list_align li.active{background: #5b4c5c; color: #fff; border-color: #5b4c5c;}
.list_align li:nth-child(1){border-radius: 3px 0 0 3px;}
.list_align li:nth-child(2){border-radius: 0 3px 3px 0;}
.list_align li img{margin: 0 0 0 6px;}

.list_event li{position: relative; float: left; width: calc(33% - 12px); margin-top: 20px; margin-right: 23px; height: 330px;}
.list_event li:nth-child(3n){margin-right: 0;}
.list_event a{display: block; color: #333;}
.list_event a img{display: block; width: 100%; height: 230px; border-radius: 3px;}
.list_event .inner{width: auto; padding: 24px; border: 1px solid #e6e0e7; border-radius: 0 0 3px 3px; line-height: 1.7;}
.list_event .inner p:nth-child(1){font-size: 16px; font-weight: 800; color: #463d47;}
.list_event .inner p.fl{font-weight: normal; font-size: 14px;}
.list_event .inner p:nth-child(2){font-size: 14px; color: #807482;}.list_event .inner .cf{line-height: 23px;}
.list_event .label_ongoing{position: absolute; top: 12px; left: 12px;}

.paging{display: table; width: auto; margin: 50px auto 0;}
.paging li{float: left; width: 40px; height: 40px; box-sizing: border-box; border: 1px solid #e6e0e7; border-left: none; line-height: 38px; text-align: center; background-repeat: no-repeat; background-position: center center;}
.paging a{display: block; color: #463d47;  line-height: 38px;}
.paging li.active{background: #000; border-color: #000;}
.paging li.active a{color: #fff;}
.paging li:nth-child(1){border-left: 1px solid #e6e0e7; border-radius: 3px 0 0 3px; background-image: url('/gth/img/community/arrow_double_left_paging.png');}
.paging li:nth-child(2){background-image: url('/gth/img/community/arrow_left_paging.png');}
.paging li:nth-last-child(2){background-image: url('/gth/img/community/arrow_right_paging.png');}
.paging li:last-child{border-radius: 0 3px 3px 0; background-image: url('/gth/img/community/arrow_double_right_paging.png');}

/* 게시글 조회 */
.table_detail{margin-top: 60px; border-bottom: 1px solid #dcdcdc;}
.table_detail th{height: 60px; border-top: 1px solid #999; border-bottom: 1px solid #dcdcdc; text-align: center;}
.table_detail th:nth-child(1){width: 100px;}
.table_detail th:nth-child(2){text-align: left; font-size: 16px; font-weight: 800;}
.table_detail th:nth-child(3){width: 150px; text-align: right; font-size: 14px;}
.table_detail td{font-size: 14px; font-weight: 600; padding: 24px; text-align: center; line-height: 1.6;}
.table_detail td p{white-space: pre-wrap; word-break: break-all;}
.table_detail td img{display: block; margin: 24px auto;}

.page_event_detail>.inner>.box_buttons{display: table; width: auto; margin: 27px auto 0;}
.page_event_detail>.inner>.box_buttons a{display: inline-block; width: 100px; height: 45px; line-height: 45px; text-align: center; color: #fff; font-size: 16px; border-radius: 27.5px; box-sizing: border-box; border-bottom: 1px solid #71656b; background: #71656b; margin-right: 13px; text-shadow: 0px 0px 3px rgba(0,0,0,1);}
.page_event_detail>.inner>.box_buttons a:last-child{margin: 0;}
.page_event_detail>.inner>.box_buttons a:first-child img{padding-right: 6px;}
.page_event_detail>.inner>.box_buttons a:last-child img{padding-left: 6px;}

.inner_comment{width: auto; border-radius: 3px 3px 0 0; box-sizing: border-box; padding: 0 24px 46px; background: url('/gth/img/community/bg_repeat.jpg') repeat-y center center #f7f5f8; background-size: 100% auto; margin: 44px 0 0;}
.box_comment{padding: 30px 15px 20px; box-sizing: border-box; border-bottom: 1px solid #e3cee1;}
.box_comment>div:nth-child(1){width: 110px;}
.box_comment>div:nth-child(1) img{width: 90px; height: 90px; border-radius: 50%;}
.box_comment>div:nth-child(2){width: calc(100% - 110px);}
.box_comment>div:nth-child(2) .cf .fr{color: #aea3ad; font-size: 14px; margin: 3px 0 0;}
.box_comment .name{font-size: 20px; color: #322b2b; font-weight: 600;}
.box_review .list_user_detail{margin: 3px 0 0 15px;}
.box_review .list_user_detail img{vertical-align: middle;}
.box_comment .comment{font-size: 14px; line-height: 1.5; font-weight: 600; margin: 12px 0 0;}
.box_comment .box_buttons{margin: 18px 0 0;}
.box_comment .box_buttons a{display: block; float: left; width: 50px; height: 25px; border-radius: 12.5px; color: #fff; font-size: 14px; box-sizing: border-box; text-align: center; line-height: 25px; text-shadow: 0px 0px 3px rgba(0,0,0,1); margin-left: 7px;}
.box_comment .btn_comment{background: #7c7c7c; border-bottom: 1px solid #5b5b5b;}
.box_comment .btn_comment_correct{background: #667bb6; border-bottom: 1px solid #4b5a85;}
.box_comment .btn_comment_delete{background: #c96464; border-bottom: 1px solid #934949;}
.box_comment textarea{width: 100%; border: 1px solid #c2bac3; border-radius: 10px; background: #fff; height: 60px; box-sizing: border-box; padding: 10px; margin: 3px 0 0;}
.box_comment .text{margin: 12px 0 0;}
.box_comment .text>.fl{width: calc(100% - 68px);}
.box_comment .text p{color: #463d47 !important;}
.btn_write{width: 60px; height: 60px; background: #6c2063; text-align: center; line-height: 60px; color: #fff; font-size: 16px; text-shadow: 0px 0px 3px rgba(0,0,0,0.4); box-shadow: inset 0 0 20px rgba(0,0,0,0.1); box-shadow: 0 2px 2px rgba(0,0,0,0.1); border-radius: 5px;}
.box_comment .word{position: relative; background: #fff; padding: 18px 26px; border-radius: 10px; color: #7d2a74; font-size: 14px; line-height: 1.5; box-shadow: 0 0 10px rgba(0,0,0,0.1); margin: 26px 0 0;}
.box_comment .word:before{position: absolute; top: -25px; left: 44px; content: ''; width: 30px; height: 30px; border: 15px solid transparent; border-bottom-color: #fff; box-sizing: border-box;}
.btn_more_comment{display: block; font-size: 14px; color: #fff; text-align: center; height: 28px; line-height: 28px; background: #807386; border-radius: 0 0 3px 3px;}
.btn_more_comment img{vertical-align: middle;}
.list_user_detail{font-weight: 600; margin: 6px 0 0 10px;}
.list_user_detail li{float: left; font-size: 14px; margin: 0 15px 0 0; line-height: 1.7;}
.list_user_detail li img{margin: 0 2px 4px 0 !important;}
.list_user_detail li span:nth-child(1){color: #837883; padding: 0 5px 0; border-right: 1px solid #e1dae1;}
.list_user_detail li span:nth-child(2){color: #833996; padding: 0 0 0 5px;}
.box_comment .word .w730{width: 730px;}
.box_comment .word .comment{color: #463d47;}
.box_comment .word .box_buttons{margin: 18px 0 0 !important;}

/* 커뮤니티 목록 */
.table_notice{margin-top: 16px; font-size: 14px;}
.table_notice th{height: 60px; border-top: 1px solid #999; border-bottom: 1px solid #dcdcdc; text-align: center; vertical-align: middle;}
.table_notice td{text-align: center;  vertical-align: middle;}
.table_notice tr.title{height: 60px; text-align: center;}
.table_notice tr.title td{border-bottom: 1px solid #dcdcdc; cursor: pointer;}
.table_notice tr.title td:nth-child(1){width: 80px;}
.table_notice tr.title td:nth-child(2){width: 140px;}
.table_notice tr.title td:nth-child(3){text-align: left;}
.table_notice tr.title td:nth-child(3) a{display: block;}
.table_notice tr.title td:nth-child(4){width: 170px;}
.table_notice tr.title td:nth-child(5){width: 120px;}
.table_notice tr.title td:nth-child(6){width: 80px;}
.table_notice tr.title td:nth-child(7){width: 80px;}
.table_notice tr.content{display: none;}
.table_notice tr.content td{border-bottom: 1px solid #dcdcdc; background: #f7f5f8; padding: 22px 38px; white-space: pre-wrap; word-break: break-all; text-align: left; line-height: 1.6;}

/* 운동방법 */
.box_sort{border: 1px solid #e6e0e7; box-sizing: border-box; height: 70px; margin: 16px 0 0;}
.list_sort{display: table; width: auto; margin: 23px auto;}
.list_sort li{float: left; border-right: 1px solid #d2d2d2;}
.list_sort li:last-child{border: none;}
.list_sort li:last-child{margin: 0;}
.list_sort li a{font-size: 15px; padding: 0 50px; color: black;}
.list_sort li a.active{font-weight: 900;}

.table_faq{margin-top: 16px; font-size: 14px;}
.table_faq th{height: 60px; border-top: 1px solid #999; border-bottom: 1px solid #dcdcdc; vertical-align: middle; text-align: center;}
.table_faq td{text-align: center;}
.table_faq tr.title{height: 60px; text-align: center;}
.table_faq tr.title:hover td{background: rgba(0,0,0,0.02);}
.table_faq tr.title td{border-bottom: 1px solid #dcdcdc; cursor: pointer; vertical-align: middle;}
.table_faq tr.title td a{display: block;}
.table_faq tr.title td:nth-child(1){width: 80px;}
.table_faq tr.title td:nth-child(2){width: 140px;}
.table_faq tr.title td:nth-child(3){text-align: left;}
.table_faq tr.title td:nth-child(4){width: 170px;}
.table_faq tr.title td:nth-child(5){width: 120px;}
.table_faq tr.title td:nth-child(6){width: 80px;}
.table_faq tr.title td:nth-child(7){width: 80px;}
.table_faq tr.title img{vertical-align: middle; margin: 0 10px 3px 0;}
.table_faq tr.content{display: none;}
.table_faq tr.content td{border-bottom: 1px solid #dcdcdc; background: #f7f5f8; padding: 22px 38px;  text-align: left; line-height: 1.6;}
.table_faq tr.content td p{float: left;}
.table_faq tr.content td p:nth-child(1){width: 34px;}
.table_faq tr.content td p:nth-child(2){width: calc(100% - 34px); white-space: pre-wrap; word-break: break-all;}

/* 글 작성 */
.mt36{margin-top: 36px;}
.box_notice.agree .inner{background: none; padding-left: 10px;}
.label_agree{display: inline-block; height: 20px; background: url('/gth/img/community/check_agree.png') no-repeat; padding-left: 30px; line-height: 20px; font-size: 14px; font-weight: bold; margin-right: 44px;}
input[name=check_agree]{display: none;}
input[type=checkbox]:checked+.label_agree{background-image: url('/gth/img/community/check_agree_on.png');}
.label_agree span{color: #db581f;}
.rn {width: 100%; margin: 50px 0; clear: both;}
.update-button{width: 112px; margin: 0 935px;}
.rec {width: 70px; margin: 0 auto;}

.page_qna .box_buttons{display: table; width: auto; margin: 44px auto 0;}
.page_qna .box_buttons a{display: block; float: left; width: 220px; height: 60px; text-align: center; line-height: 60px; color: #fff; font-size: 20px; border-radius: 30px; font-weight: normal;}
.page_qna .btn_left{background: rgba(0,0,0,0.07); border-bottom: 1px solid rgba(0,0,0,0.1); color: #333 !important;}
.page_qna .btn_right{background: #000; border-bottom: 1px solid #000; margin-left: 12px;}

.table_qna{border-top: 1px solid #999; margin: 46px 0 20px;}
.table_qna th{width: 200px; background: rgba(0,0,0,0.03); text-align: left; padding-left: 30px; box-sizing: border-box; font-size: 16px; border-bottom: 1px solid #dcdcdc;     vertical-align: middle;}
.table_qna th span{display: inline-block; height: 30px; vertical-align: middle; color: #c8534d; font-size: 28px; margin-left: 4px;}
.table_qna td{padding: 14px 17px; border-bottom: 1px solid #dcdcdc; font-size: 16px;}
.table_qna .name{width: 350px; padding: 14px 17px; border-bottom: 1px solid #dcdcdc; font-size: 16px;}
.table_qna .reg-date{width: 350px; padding: 14px 17px; border-bottom: 1px solid #dcdcdc; font-size: 16px;}
.table_qna input{height: 50px; border: 1px solid #c2bac3; box-sizing: border-box; padding: 0 20px; border-radius: 10px; font-size: 14px;}
.table_qna select{height: 50px; border: 1px solid #c2bac3; box-sizing: border-box; padding: 0 20px; border-radius: 10px; font-size: 14px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background: url('/gth/img/community/arrow_bottom_notice.png') no-repeat;}
.table_qna select::-ms-expand{display: none;}
.table_qna tr:nth-child(1) td input{width: 100%;}
.table_qna tr:nth-child(2) td select{width: 300px; background-position: 262px center;}
.table_qna tr:nth-child(3) td input{float: left; display: inline-block; border-radius: 10px 0 0 10px; border-right: none;}
.table_qna tr:nth-child(3) td a{float: left; display: inline-block; width: 50px; height: 50px; border-radius: 10px; text-align: center; line-height: 44px; box-sizing: border-box; color: #fff; font-size: 30px; border-bottom: 1px solid #534a4e; text-shadow: 0px 0px 3px rgba(0,0,0,1); background: rgba(0,0,0,1); margin-left: 5px;}
.table_qna textarea{width: 100%; height: 200px; border: 1px solid #c2bac3; box-sizing: border-box; padding: 20px; border-radius: 10px; font-size: 14px;}
.table_qna input[type="file"]{position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}
.table_qna label{float: left; display: inline-block; width: 100px; height: 50px; line-height: 50px; text-align: center; cursor: pointer; font-size: 14px; color: #fff; background: rgba(0,0,0,1); border-radius: 0 10px 10px 0; border-bottom: 1px solid #534a4e; text-shadow: 0px 0px 3px rgba(0,0,0,1); box-sizing: border-box;}

/* 부트스트랩 */

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}

/* 수정 */
.update-deletebutton{float: right; margin-bottom: 20px;}
.btn-default.comment {padding: 0 0}
#write{color: black; text-decoration: none; display: block; padding: 0;}
#comment{color: black; text-decoration: none; display: block; width: 54; padding: 6px 12px}
.btn-warning{background: rgb(175, 36, 36) !important; border-color: rgb(104, 21, 21) !important;}
.search{width: 250px; margin: 0 auto;}
.search .searchselect{width: 93px; font-size: 15px;}
.search .searchinput{border-bottom: 1px solid rgba(0,0,0,0.5); width: 150px; height: 24px; font-size: 14px; text-align: center;}
