@charset "UTF-8";
/*signup*/
.signUp{
	padding: 70px 0;
}
.signUp h2.page_title{
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
}
.formWrap{
	border: 1px solid #999;
	width: 100%;
	max-width: 400px;
	margin: auto;
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
}
.inputWrap{
	width: 100%;
	margin: auto;
	position: relative;
	padding: 5px 0;
	border-bottom: 3px solid #999;
}
.inputWrap+.inputWrap{
	margin-top: 30px
}
.inputWrap:after{
	content: '';
	display: block;
	clear: both;
}

.inputWrap input{
	display: inline-block;
	width: 100%;
	height: 30px;
	padding: 3px;
	border: 0;

}
.inputWrap .barColor{
	content: '';
	display: block;
	position: absolute;
	width: 0%;
	background: orange;
	height: 3px;
	bottom: -3px;
	transition: all 0.5s;
}
.inputWrap input:focus+.barColor{
	width: 100%; 
}
.inputWrap label{
	width: 100%;
	margin-bottom: 10px
}
.inputWrap input#member_id{
	width: 79%;
	float: left;
}
.inputWrap a#confirm_id{
	width: 19%;
	float: right;
	display: block;
	text-align: center;
	border: 2px solid #999;
	border-radius: 5px;
	padding: 6px 0;
	transition: all .5s;
}
.inputWrap a#confirm_id:hover{
	border-color:orange;
	background: orange;
	color: #fff;
}
.inputWrap #submit{
	display: block;
	width: 100%;
	border: 2px solid #999;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	transition: all .5s;
}
.inputWrap #submit:hover{
	background: orange;
	border-color: orange;
	color: #fff;
	border-radius: 20px;
}
.inputWrap.radioWrap input.inline{
	width: auto;
	height: auto;
}
.inputWrap.radioWrap label.inline{
	width: auto;
}
.inputWrap.trFile{
	display: none;
}
/*mypage*/
.myPage{
	padding: 70px 0;
}
.myPage h2.page_title{
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
}
.tab_btn{
	border-bottom: 2px solid #333;
	margin-bottom: 30px;
}
.tab_btn:after{
	display: block;
	content: '';
	clear: both;
}
.tab_btn li{
	display: block;
	width: 25%;
	float: left;
	text-align: center;
}
.tab_btn li a{
	display: block;
	font-size: 1.2em;
	padding: 10px 0;
	transition: all 0.5s;
}
.tab_btn li.active a,.tab_btn li:hover a,.tab_btn li:focus a,.tab_btn li:active a{
	background: #000;
	color: #fff;
}
.messageList{
	width: 20%;
	float: left;
	border-top: 1px solid #000;
}
.messageList li{
	border-bottom: 1px solid #d9d9d9;
	
}
.messageList li a{
	transition: all 0.5s;
	display: block;
	padding: 10px 5px;
}
.messageList li.active a{
	color: #fff;
	background: #000;
}
.messageContents{
	width: 80%;
	float: left;
	border-top: 1px solid #000;
}

.myPage  h5{
	font-size: 24px;
	margin-bottom: 15px;
}

.myPage  h5:after{
	display: inline-block;
	width: 50px;
	height: 2px;
	background: #333;
	content: '';
	margin-left: 5px;
}
.contentsWrap{
	display: none;
}
.contentsWrap.active{
	display: block;
}
.contentsWrap .name{
	float: left;
	width: 15%;
	text-align: center;
	border-left: 1px solid #d9d9d9;
	padding: 10px 0;
}
.contentsWrap .title{
	float: left;
	width: 61%;
	border-left: 1px solid #d9d9d9;
	padding: 10px 0;
}
.contentsWrap .date{
	float: left;
	width: 12%;
	text-align: center;
	border-left: 1px solid #d9d9d9;
	padding: 10px 0;
}
.contentsWrap .chk{
	float: left;
	width: 12%;
	text-align: center;
	padding: 10px 0;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.contentsWrap .title a{
	display: block;
	padding-left: 10px;
}
.contentsHeader{
	text-align: center;
	border-bottom: 1px solid #000;
}
.contentsBody li{
	border-bottom: 1px dotted #d9d9d9;
}
.contentsBody li:after{
	content: '';
	clear: both;
	display: block;
}
.table.myTable {
	margin-top:30px; 
}
.table.myTable > thead> tr >th, .table.myTable > tbody> tr >td{
	text-align:  center;
	padding: 10px 0;

}
.table.myTable > tbody> tr >td:nth-child(2) a{
	display: block;
	padding-left: 10px;
	text-align: left;
}
.table.myTable > tbody> tr:last-child >td{
	border-bottom: 2px solid #333;
}
.table.myTable > thead> tr >th{
	border-top: 2px solid #333!important;
}
.modifyWrap{
	margin-top: 30px
}
.modifyWrap #submit,.modifyWrap #drop{
	display: block;
	width: 49%;
	border: 2px solid #999;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	transition: all .5s;
	float: left;
}
.modifyWrap #submit{
	margin-right: 2%;
}
.modifyWrap #submit:hover,.modifyWrap #drop:hover{
	background: orange;
	border-color: orange;
	color: #fff;
	border-radius: 20px;
}