* {
    margin: 0;
    padding: 0;
}

html {
    background: #ecf0f1;

}
   body {
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }


  #arlina {
    background: #fff;
    position: relative;
    margin: 3% auto;
    width: 100%;
    height: 1900px;
    max-width: 1300px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    z-index: 3;
  }
  
  #header {
    margin: 0;
    padding: 20px 0;
    background: #fdfdfd;
  }
  
  #header h1 {
    display: table;
    color: #2c3e50;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 40px 20px 20px 20px;
    font-size: 45px;
  }



h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 100%;
    display: block;
    margin: 40px auto;
    position: relative;
    
}

.tabs .tab{
    float: left;
    display: block;

    
}


.tabs .tab>input[type="radio"] {
    position: absolute;
    
}



.tabs .tab>label {
    display: block;
    padding: 8px 21px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #FFF;
    background: #4A83FD;
    
    
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 45%;
    padding: 25px;
    position: absolute; 
    top: 30px;
    left: 0px;
    background: #303030;
    color: #DFDFDF;
    opacity:0;
    transition: opacity 400ms ease-out;
    
}


.tabs .content1 {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 45%;
    padding: 25px;
    position: absolute; 
    top: 30px;
    right: 10px;
    background: #303030;
    color: #DFDFDF;
    opacity:0;
    transition: opacity 400ms ease-out;
    float : right;
}


.tabs>.tab>[id^="tab"]:checked + label {
    top: 0;
    background: #303030;
    color: #F5F5F5;
    right:0px
}

.tabs>.tab>[id^="tab"]:checked ~ [id^="tab-content"] {
    z-index: 1;
   
   
    opacity: 1;
    transition: opacity 400ms ease-out;
    
}


