/* 공통 */
*{margin: 0; padding: 0; border: 0;}
body{font-size: 13px; font-family: "Malgun Gothic", sans-serif; color: #463d47; line-height: 1.4; overflow-x: hidden;}
img{margin: 0; padding: 0; border: 0; max-width: 100%; height: auto;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none !important;}
input, textarea, select, button{font-size: inherit; font-family: inherit; line-height: inherit; font-family: 'Malgun Gothic', sans-serif;}
textarea{overflow-y: auto;}
input:focus, button:focus, textarea:focus{outline: none;}
label, button{cursor: pointer; font-weight: normal; background: none;}
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}

.inner{width: 1080px; margin: 0 auto;}
.relative{position: relative;}
.absolute{position: absolute;}
.dimmed{display: none; position: absolute; z-index: 300; top: 0; left: 0; width: 100%; background: rgba(0,0,0,0.7);}
.line_dot{height: 1px; border-top: 1px dotted #ad9ea6;}
.vertical_middle{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.color_red{color: #c14545;}
.color_purple{color: #912d64;}

.label_offline{display: block; width: 60px; height: 22px; color: #fff; line-height: 22px; background: #be3e41; text-align: center; border-radius: 11px; text-shadow: 0px 0px 3px rgba(0,0,0,1);}
.label_online{display: block; width: 60px; height: 22px; color: #fff; line-height: 22px; background: #4d9d0c; text-align: center; border-radius: 11px; text-shadow: 0px 0px 3px rgba(0,0,0,1);}
.label_playing{display: block; width: 60px; height: 22px; color: #fff; line-height: 22px; background: #1095c6; text-align: center; border-radius: 11px; text-shadow: 0px 0px 3px rgba(0,0,0,1);}
.label_ongoing{display: inline-block; width: 60px; height: 30px; color: #fff; line-height: 30px; background: #0e986f; text-align: center; border-radius: 15px; text-shadow: 0px 0px 3px rgba(0,0,0,1);}

.box_notice{padding: 16px 20px; background: rgba(0,0,0,0.03); border: 1px solid #e6e0e7; box-sizing: border-box; border-radius: 3px; margin-top: 6px; font-size: 14px;}
.box_notice .inner{padding-left: 10px; box-sizing: border-box; height: 26px; line-height: 26px;}

.box_border{margin-top: 20px;}
.box_border .inner{width: auto; border: 1px solid #e6e0e7; border-top: none; border-radius: 0 0 3px 3px; padding: 20px; box-sizing: border-box;}
.box_border .bg_title{background: url('../images/bg_title_apply.jpg') repeat-x; height: 50px; padding: 0 20px; box-sizing: border-box; line-height: 50px; color: #fff; font-size: 18px; border-radius: 3px 3px 0 0;}
.box_border .inner>p{font-size: 14px; font-weight: 600;}
.box_border .inner>p span{color: #cc5646;}
.box_border .line_dot{margin: 16px 0;}

/* 푸터 */
.footer{background: #faf8f8; padding: 32px 0 32px;}